###Ignore Files###

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

##All packaged archives
*.zip
*.7z
*.tar.gz
*.tar.bz2

##Cloud9 ignore
.c9/**
